.main {
	width: 100%;
	height: 391px;
	background: #eef0f7;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 38px;
	h1 {
		font-family: "Merriweather";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 50px;
		text-align: center;
		color: #333333;
		margin: 0;
		margin-top: 33px;
		margin-bottom: 35px;
	}
	.heroCover {
		max-width: 100%;
		img {
			width: 100%;
			height: 100%;
			max-height: 380px;
		}
	}
}
@media (max-width: "500px") {
	.main {
		width: 100%;
		height: 322px;
		padding: 0px 22px 38px 22px;

		h1 {
			max-width: 100%;
			font-family: "Merriweather";
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			color: #333333;
			margin-top: 28px;
			margin-bottom: 22px;
		}
		.heroCover {
			max-height: 380px;
		}
	}
}
@media (min-width: "1200px") {
	.main {
		min-height: 403px;
		padding-bottom: 38px;
		h1 {
			width: 100%;
			margin-top: 47px;
		}
	}
}
