.main {
	width: 100%;
	height: 369px;
	background: #eef0f7;
	display: flex;
	align-items: center;
	flex-direction: column;
	h1 {
		width: 651px;
		font-family: "Merriweather";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		color: #333333;
		margin: 0;
		margin-top: 32px;
	}
	.picAndmeta {
		display: flex;
		gap: 19px;
		margin-top: 55px;

		.profilePic {
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
		.meta {
			width: 475px;
			font-family: "Poppins";
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			margin: 0;
			color: #333333;
		}
	}
	.newsleterBox {
		margin-top: 34px;
		input {
			width: 260px;
			height: 40px;
			padding: 0px 17px;

			opacity: 0.4;
			border: 1px solid #333333;
			border-right: none;
			border-radius: 3px 0px 0px 3px;
			font-family: "Poppins";
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			margin-left: 5px;
			color: rgba($color: #000000, $alpha: 0.5);
			&:focus {
				color: rgba($color: #000000, $alpha: 1);
				outline: none;
			}
		}
		button {
			width: 88px;
			height: 42px;

			background: #8d6a20;
			border: 1px solid #8d6a20;
			box-sizing: border-box;
			border-radius: 5px;
			font-family: "Roboto";
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			text-align: center;

			color: #ffffff;
		}
	}
}
@media (max-width: "500px") {
	.main {
		height: 394px;
		h1 {
			width: 330px;
			font-family: "Merriweather";
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 38px;
			margin-top: 33px;
		}
		.picAndmeta {
			gap: 30px;
			margin-top: 42px;
			align-items: center;
			.meta {
				font-size: 16px;
				line-height: 25px;
				width: 230px;
				text-align: left;
			}
		}
		.newsleterBox {
			margin-top: 51px;
			input {
				width: 240px;
				margin-left: 0;
			}
			button {
				width: 82px;
			}
		}
	}
}
@media (min-width: "1200px") {
	.main {
		height: 363px;
		h1 {
			width: 100%;
			margin-top: 57px;
		}
		.picAndmeta {
			gap: 43px;
			.meta {
				width: 423px;
			}
		}
		.newsleterBox {
			margin-top: 36px;
			button {
				width: 90px;
			}
		}
	}
}
